<div class="container">
  <div class="span-24 last">
    <div class="header <%= @content_page and !@content_page.categories.empty? ? "category_#{@content_page.categories.first.root.id}" : '' %> <%= controller.controller_name %>">
      <%= top_menu %>
    </div>
  </div>

  <div class="column span-6">
    <div class="side_pane">
      <div class="logo_box"><%= logo_image %></div>

      <div class="side_menu">
        <%= side_menu %>

        <%= search_box %>
      </div>
      <div class="user_box">
        <%# defaults:
            user_box :include_line_breaks => true, :include_blog_link => true, 
                :include_events_link => true, :link_separator => ' | ' %>
        <%= user_box %>
      </div>
    </div>
  </div>

  <div class="span-18 last">
    <%= flash_messages %>

    <div class="base_content">
      <%= yield %>
    </div>
  </div>

  <div class="span-24 last">
    <div class="footer">
      <%= site_footer %>
    </div>
  </div>
</div>
