<p class="right">
  <%= link_to_blog_admin %>
  <%= link_to_new_post %>
  <%= link_to_rss blog_posts_url(:atom) %>
</p>

<h1><%= site_title %> <%= blog_title %></h1>

<div class="posts">
<%= render :partial => 'blog/posts/lead_in', :collection => @posts,
           :as => :post %>
</div>