<% unless event.nil? %>
<%= div_for_record(event) do -%>
  <h1><%= link_to_events({:no_wrapper => true}, {:link_text => "Events"}) %>: <%= event.name %> (<em><%= event.event_type %></em>)</h1>
  <div style="clear:both"></div>
  <%= render :partial => 'event_calendar/events/event_details', :object => event %>
  <%- if event.current_revision? && (event.links.count > 0 || event.file_attachments.count > 0) -%>
  <p><strong>Materials/Resources</strong></p>
  <%- end -%>
  <%= render :partial => 'event_calendar/links/links' if event.current_revision? %>
<% end %>
<% end %>
