<h1>Site Administration</h1>

<ul>
  <li><%= link_to 'List of Content Pages', content_pages_path %></li>
  <li><%= link_to 'List of Categories', categories_path %></li>
  <li><%= link_to 'Manage Events', event_calendar_dashboard_path %></li>
  <li><%= link_to 'Manage Files', file_attachments_path %></li>
  <li><%= link_to 'Site-wide Settings', site_settings_path %></li>
  <li><%= link_to 'User Management', users_path %></li>
  <li><%= link_to 'User Groups', user_groups_path %></li>
  <li><%= link_to 'Wikis', wikis_path %></li>
  <li><%= link_to 'Forums', forums_path %></li>
  <li><%= link_to 'Theme/Styling', :controller => :themes %></li>
  <li><%= link_to 'Custom CSS', :controller => :themes, :action => :css_editor %></li>
</ul>