<h1>Site-wide Configuration</h1>

<div class="edit_content_box">

  <% form_tag( { :action => :update_site_settings } ) do  %>
    <p>
      <strong>Title:</strong>
      <%= text_field_tag :site_title, site_title, :size => 70 %>
    </p>
    <p>
      <strong>Logo:</strong>
      <%= select_tag :site_logo, options_for_select( images_list, site_logo ) %> 
      <%= image_tag site_logo, :id => 'image_of_logo', :style => 'vertical-align:top; margin-left: 25px;' %>
    </p>
    <p>
      <strong>Footer:</strong>
      <%= text_area_tag :site_footer, site_footer, :cols => 80, :rows => 3,
        :style => "vertical-align:middle; height: 40px; width: 80%;" %>
    </p>
    <p>
      <strong>Registration Password:</strong> (leave blank if none required)
      <%= text_field_tag :registration_password, @registration_password, :size => 80 %><br/>
      <em>Registration link:</em>
      <% if @registration_password.blank? %>
        <%= link_to register_url, register_url %>
      <% else %>
        <%= link_to register_url(:p => @registration_password), register_url(:p => @registration_password) %>
      <% end %>
    </p>
    <p>
      <strong>Additional User Fields (comma separated):</strong>
      <%= text_area_tag :user_fields, @user_fields.join(', '), :cols => 70, :rows => 3,
        :style => "vertical-align:middle; height: 40px; width: 80%;" %>
    </p>
    <p>
      <%= submit_tag "save changes" %>
    </p>
  <% end %>

</div>

<script type="text/javascript">
  <%# TODO: write the jquery version of this %>
  Event.observe(window, 'load', function() {
    Event.addBehavior({
      '#site_logo:change': function(e) { $('image_of_logo').src = '/images/' + e.element().value; }
    });
  });

</script>