<h1>Site-wide Configuration</h1>

<div class="edit_content_box">

  <%= form_tag( { :action => :update_site_settings } ) do  %>
    <p>
      <strong>Site Title:</strong>
      <%= text_field_tag :site_title, site_title, :size => 70 %>
    </p>
    
    <p>
      <strong>Blog Title:</strong>
      <span class="small_text"><%= site_title %></span> <%= text_field_tag :blog_title, blog_title, :size => 70 %>
    </p>

    <p>
      <strong>Host domain:</strong>
      <%= text_field_tag :hostname, SiteSetting.read_setting('hostname') || request.host, :size => 70 %>
    </p>

    <p>
      <strong>Logo:</strong>
      <%= select_tag :site_logo, options_for_select( images_list, site_logo ) %> 
      <%= image_tag site_logo, :id => 'image_of_logo', :style => 'vertical-align:top; margin-left: 25px;' %>
    </p>
    <p>
      <strong>Footer:</strong>
      <%= text_area_tag :site_footer, site_footer, :cols => 80, :rows => 3,
        :style => "vertical-align:middle; height: 60px; width: 80%; font-size: 90%;" %>
    </p>
    <p>
      <strong>Special Footers:</strong><br/>
      Blog:
      <%= text_area_tag :inner_footer_blog, @inner_footer_blog, :cols => 80, :rows => 2,
        :style => "vertical-align:middle; height: 40px; width: 80%; font-size: 90%;" %>
      <br/>
      Events:
      <%= text_area_tag :inner_footer_events, @inner_footer_events, :cols => 80, :rows => 2,
        :style => "vertical-align:middle; height: 40px; width: 80%; font-size: 90%;" %>
    </p>
    <p>
      <strong>Registration Password:</strong> (leave blank if none required)
      <%= text_field_tag :registration_password, @registration_password, :size => 80 %><br/>
      <em>Registration link:</em>
      <% if @registration_password.blank? %>
        <%= link_to register_url, register_url %>
      <% else %>
        <%= link_to register_url(:p => @registration_password), register_url(:p => @registration_password) %>
      <% end %>
    </p>
    <p>
      <strong>Custom Error Page:</strong>
      <%= select_tag :error_page_id,  
            options_for_select(
                ContentPage.order("name").where(:is_preview_only => false).map {|cp| 
                  [cp.name, cp.id]}, :selected => @error_page_id),
            :include_blank => true %>
    </p>
    <p>
      <strong>Additional User Fields (comma separated):</strong>
      <%= text_area_tag :user_fields, @user_fields.join(', '), :cols => 70, :rows => 3,
        :style => "vertical-align:middle; height: 40px; width: 80%;" %>
    </p>
    <p>
      <%= submit_tag "save changes" %>
    </p>
  <% end %>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#site_logo').bind('change', function() {
    $('#image_of_logo').attr('src', '/images/' + this.value);
  });
});
</script>
