<% form_for(@forum) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td><%= f.label :title, "Title of forum" %>:</td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :moderator_only, "Moderator only?" %></td>
      <td><%= f.check_box :moderator_only %></td>
    </tr>
    <tr>
      <td><%= f.label :description %>:</td>
      <td><%= f.text_area :description, :rows => 5, :cols => 80, :style => "height: 100px;" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag @forum.new_record? ? "Make this Forum!" : "Save Changes" %></td>
    </tr>
  </table>
<% end -%>