<h1>Editing forum</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :moderator_only %><br />
    <%= f.check_box :moderator_only %>
  </p>
  <p>
    <%= f.label :newest_message_post_id %><br />
    <%= f.text_field :newest_message_post_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>