<h1>Forums</h1>

<div style="float:right">
  <% form_tag({ :controller => "/message_posts", :action => :search },  :method => :get  ) do %>
    <%= text_field_tag :q, "quick search", :onfocus => "$('q').value='';" %>
    <%= submit_tag "Go" %>
  <% end %>
</div>

<p>
  Please follow the common rules of etiquette when using these forums. Remember that when you logged in, you
  agreed to abide by the rules.
  The management reserves the right to delete any post and possibly disable accounts at its own discretion.
</p>

<table class="forums">
  <% for forum in @forums -%>
    <tr>
      <td style="border-bottom: 2px solid #DDE;">
        <p><strong><%= link_to forum.title, forum %></strong></p>
        <span class="small_text"><%= forum.description %></span>
      </td>
      <td style="text-align: right; border-bottom: 2px solid #DDE; width:225px">
        <p class="small_text" style="color: #666;">Most recent:
          <% if forum.most_recent_post -%>
            <%= link_to forum.most_recent_post.subject, :action => :thread,
                  :thread_id => forum.most_recent_post.thread_id || forum.most_recent_post.id,
                  :page => Message.last_page_number_for(:thread_id => forum.most_recent_post.thread_id || forum.most_recent_post.id),
                  :anchor => "bottom" %><br/>
            by <%= link_to forum.most_recent_post.user.name, :action => :log,
                    :login => forum.most_recent_post.user.login %>
            posted <%= post_time forum.most_recent_post.created_at %>
          <% else -%>
            <em>no messages</em>
          <% end -%>
        </p>
      </td>
    </tr>
    <% if current_user and current_user.is_admin? %>
    <tr>
      <td class="small_text" colspan="2">
        <%= link_to 'edit details of this forum', edit_forum_path(forum) %> |
        <%= link_to 'delete this forum', forum, :confirm => 'Are you sure you want to delete this forum and all the messages in it?', :method => :delete %>
      </td>
    </tr>
    <% end %>
  <% end -%>
</table>

   
<br />

<% if current_user and current_user.is_admin? %>
  <%= link_to 'create a new forum', new_forum_path %>
<% end %>