<h1>Forums</h1>

<p>
  Please follow the common rules of etiquette when using these forums. Remember that when you logged in, you
  agreed to abide by the rules.
  The management reserves the right to delete any post and possibly disable accounts at its own discretion.
</p>

<% if @forums.empty? %>
  <p><em>You do not have access to any forums. Please contact your administrator if you need access.</em></p>
<% end %>

<table class="forums">
  <% for forum in @forums -%>
    <tr>
      <td style="border-bottom: 2px solid #DDE;">
        <p><strong><%= link_to forum.title, forum %></strong></p>
        <span class="small_text"><%= forum.description %></span>
      </td>
      <td style="text-align: right; border-bottom: 2px solid #DDE; width:225px">
        <p class="small_text" style="color: #666;">Most recent:
          <% if forum.most_recent_post -%>
            <%= link_to forum.most_recent_post.subject,
                  forum_message_post_path(forum, forum.most_recent_post) %><br/>
            by <%= forum.most_recent_post.user.name %>
            posted <%= post_time forum.most_recent_post.created_at %>
          <% else -%>
            <em>no messages</em>
          <% end -%>
        </p>
      </td>
    </tr>
  <% end -%>
</table>

<h2>Recent Discussions</h2>

<ul class="recent_discussions">
<% @recent_messages.each do |message_post| %>
  <li>
    <div class="subject">
      <%= link_to message_post.subject, 
          forum_message_post_path(message_post.forum, message_post) %> by
      <%= message_post.user ? message_post.user.name : 'unknown user' %>
      <em>(<%= pluralize message_post.child_posts.count, "reply" %>)</em>
    </div>
    <div class="date_and_forum">
      <em><%= post_time message_post.updated_at %></em>
      on <%= link_to message_post.forum.name, message_post.forum %> 
    </div>
  </li>
<% end %>
</ul>

<br />

<% content_for :admin_bar do %>
  <%= link_to 'change forum list order', sort_forums_path %> | 
  <%= link_to 'create a new forum', new_forum_path %>
<% end %>
