<h1><%= @forum.title %></h1>

<p class="small_text">
  <%= link_to "who has access to this forum?", forum_path(@forum, :toggle => "user_access_list"), :class => 'show_hide_link' %>
</p>

<p class="small_text user_access_list" style="background: #FFD; padding: 2px 6px; <%= (params[:toggle] and params[:toggle]=='user_access_list') ? '' : 'display:none;' %>">
  <%= @users_with_access.map(&:full_name).join(', ') %>
</p>

<div style="float:right">
  <% form_tag(search_forum_path(@forum),  :method => :get  ) do %>
    <%= text_field_tag :q, "quick search", :onfocus => "$('q').value='';" %>
    <%= submit_tag "Go" %>
  <% end %>
</div>

<p class="small_text"><%= @forum.description %></p>

<div style="text-align:center;"><%= will_paginate @message_posts %></div>

<table class="messages" cellspacing="0px" cellpadding="0px">
  <% for message in @message_posts -%>
    <%= render :partial => "message_posts/message_in_forum", :locals => { :message => message } %>
  <% end -%>
</table>

<div style="text-align:center;"><%= will_paginate @message_posts %></div>

<br/><br/>

<% unless @forum.moderator_only? and !is_admin? -%>
  <h4>Start a new discussion thread in this forum:</h4>
  
  <%= render :partial => "/message_posts/message_form", :locals => { :message_post => @new_message_post } %>
<% end -%>

