<h1>Forums - Sort</h1>

<p>Click and drag to sort.</p>

<ol class="forums">
  <% for forum in @forums %>
    <li id="forum_<%= forum.id %>">
      <%= forum.title %>
      <%= link_to 'edit', edit_forum_path(forum) %>
    </li>
  <% end %>
</ol>
   
<br />

<p>
  <%= link_to 'back to forums', forums_path %> | 
  <%= link_to 'create a new forum', new_forum_path %>
</p>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function(){
  $('ol.forums').sortable({
    update: function(event, ui){
      var me = $(this);
      $.ajax({ 
        type: 'post', 
        data: me.sortable('serialize'), 
        dataType: 'json', 
        complete: function(request) { me.effect('highlight'); },
        url: '/forums/set_sort'
      });
    },
    placeholder: 'ui-state-highlight'
  });

  $('ol.forums li a').hide();
  $('ol.forums li').bind({
    mouseover: function() { 
      $(this).find('a').show();
    },
    mouseout: function() {
      $(this).find('a').hide();
    }
  });
});

</script>
<% end %>
