<h2>Add Participants to the <%= @event.name %> Group</h2>
<%= semantic_form_for(@attendee, :url => event_attendees_path) do |form| %>
  <%= form.inputs do %>
    <%= form.input :event_id, :as => :hidden, :value => params[:event_id] %>
    <% @participants.group_by(&:class).each do |type, participants| %>
      <%= form.input type.to_s.downcase.pluralize, {
        :as => :check_boxes,
        :collection => participants
      } %>
    <% end %>
  <% end %>
  <%= form.submit %>
<% end if has_authorization?(:add_attendees, @event) %>
