<h1>Theme Settings</h1>

<div class="edit_content_box">
  <% form_tag( { :action => :update_css } ) do  %>
    <p>
      <strong>CSS:</strong><br/>
      <%= text_area_tag :css, @css %>
    </p>
    <p>
      <%= submit_tag "save changes" %>
    </p>
<% end %>
</div>


<p class="admin_links">
  <%= link_to 'Site Settings', site_settings_path %> |
  <%= link_to 'Theme/Styling', :controller => :themes %> |
  <%= link_to 'List of Pages', content_pages_path %> |
  <%= link_to 'List of Categories', categories_path %>
</p>


<script type="text/javascript" src="/codemirror/js/codemirror.js"></script>
<script type="text/javascript" src="/codemirror/js/mirrorframe.js"></script>

<script type="text/javascript">
  var textarea = $('#css')[0];
  var editor = CodeMirror.fromTextArea("css", {
    parserfile: "parsecss.js",
    path: "/codemirror/js/",
    stylesheet: "/codemirror/css/jscolors.css",
    autoMatchParens: true,
    height: "350px"
  });

</script>