<h1>Theme Settings</h1>

<div class="edit_content_box">

  <%= form_tag( { :action => :update_theme_settings } ) do  %>
    <p>
      <strong>Layout:</strong>
      <%= select_tag :theme_layout, options_for_select( theme_layouts_list, @theme_layout ) %>
    </p>

    <p>
      <strong>Skin:</strong>
      <%= select_tag :theme_skin, options_for_select( theme_skins_list, @theme_skin ) %>
    </p>

    <p>
      <strong>Color scheme:</strong>
      <%= select_tag :theme_colors, options_for_select( theme_colors_list, @theme_colors ) %>
    </p>
    
    <p>
      <%= submit_tag "save changes" %>
    </p>
  <% end %>

</div>


<p class="admin_links">
  <%= link_to 'Site Administration', admin_site_settings_path %> |
  <%= link_to 'Custom CSS', :controller => :themes, :action => :css_editor %>
</p>
