<p>
  <strong>Group Name</strong>:
  <%= form.text_field :name, :size => 50 %>
</p>

<p>
  <strong>Grants Forum Access:</strong><br/>

  <% Forum.all.each do |forum| %>
    <%= forum.title %>:
    <%= select_tag "user_group[forum_access][#{forum.id}]", 
            options_for_select(['none', 'write', 'read'],
            @user_group.grants_access_to_forum?(forum)) %>
    <br/>
  <% end %>
  <br/>

  <strong>Grants Wiki Access:</strong><br/>
  <% Wiki.all.each do |wiki| %>
     <%= wiki.title %>: 
     <%= select_tag "user_group[wiki_access][#{wiki.id}]", 
            options_for_select(['none', 'write', 'read'],
            @user_group.grants_access_to_wiki?(wiki)) %>
    <br/>
  <% end %>

</p>
