<h1>New user group</h1>

<%= form_for(@user_group) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit 'Create' %>
<% end %>

<p class="admin_links">
  <%= link_to 'Back to User Groups', user_groups_path %>
</p>
