<h1>User Group: <%= @user_group.name %></h1>

<% unless @user_group.special.blank? %>
<p>
  <strong>Grants access to:</strong> <%= @user_group.access_string %>
</p>
<% end %>

<% if @user_group.users.empty? %>
  <p><em>No users are in this group</em></p>
<% else %>
  <%= form_tag drop_user_user_group_path(@user_group) do %>
    <table class="nice_table">
      <tr>
        <th>Login (Full Name)</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>

    <% @user_group.users.each do |user|  %>
      <tr>
        <td><%= link_to user.login, edit_user_path(user) %> (<%= user.fullname %>)</td>
        <td><%= user.email %></td>
        <td><%= link_to "drop from group", drop_user_user_group_path(@user_group, :user_id => user.id), :method => :post %></td>
        <td><%= check_box_tag "user_ids[]", user.id %></td>
      </tr>
    <% end %>
    </table>
    <p style="text-align:right">
      <%= submit_tag "drop selected users from this group" %>
    </p>
  <% end %>
<% end %>
  
<p><%= link_to 'add users to this group', add_members_user_group_path(@user_group) %></p>

<p class="admin_links">
  <%= link_to 'edit group name/access', edit_user_group_path(@user_group) %> |
  <%= link_to 'list of user groups', user_groups_path %>
</p>
