<table>
  <tr>
    <td><%= form.label :login %>:</td>
    <td><%= form.text_field :login %></td>
  </tr>
  <tr>
    <td><%= form.label :display_name %> (optional):</td>
    <td><%= form.text_field :display_name %></td>
  </tr>
  <tr>
    <td><%= form.label :email %>:</td>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <td><%= form.label :password, form.object.new_record? ? nil : "Change password (leave blank for no change)" %>:</td>
    <td>
      <%= form.password_field :password %><br />
      <%= form.password_field :password_confirmation %>
    </td>
  </tr>
</table>

<%#
first_name
last_name
state
role
agency
mailing_address
mailing_city
mailing_state
mailing_zip
phone_number
%>