<table>
  <% for field in %w( login first_name last_name email) %>
    <tr>
      <td><%= form.label field %>:</td>
      <td><%= form.text_field field %></td>
    </tr>
  <% end %>

  <% for field in (SiteSetting.read_setting('user fields') || []) %>
    <tr>
      <td><%= form.label field %>:</td>
      <td>
        <% if USER_FIELDS[field] %>
          <%= select_tag "user[user_defined_fields][#{field}]", options_for_select(USER_FIELDS[field], :selected => @user.user_defined_fields[field]) %>
        <% else %>
          <%= text_field_tag "user[user_defined_fields][#{field}]", @user.user_defined_fields[field] %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <%= form.label :password, form.object.new_record? ? nil : "Change password <em>(leave blank for no change)</em>" %>:
    </td>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <td><%= form.label :password_confirmation %>:</td>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>

  <% user_groups = UserGroup.find(:all, :order => "name") %>
  <% unless user_groups.empty? %>
    <% if is_admin? %>
      <% unless @user.requested_user_group_ids.empty? %>
        <tr>
          <td>
            <%= form.label 'Requested Group Membership' %>:<br/>
            <span class="tiny_text">
              <span class="darkred">red</span> means requested group access not yet granted<br/>
              <span class="darkgreen">green</span> means requested group access was granted<br/>
            </span>
          </td>
          <td>
            <% @user.requested_user_group_ids.each do |user_group_id| %>
            <% user_group = user_groups.detect { |ug| ug.id == user_group_id } %>
              <span class="<%= @user.user_groups.include?(user_group) ? 'darkgreen' : 'darkred' %>">
                <%= user_group.name %><br/>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= form.label 'Group Membership' %>:</td>
        <td>
          <% user_groups.each do |user_group| %>
            <%= check_box_tag "user[user_group_ids][]", user_group.id, @user.user_groups.include?(user_group) %> <%= user_group.name %><br/>
          <% end %>
        </td>
      </tr>
    <% else %>
      <tr>
        <td><%= form.label 'Requested Group Membership' %>:</td>
        <td>
          <% user_groups.each do |user_group| %>
            <%= check_box_tag "user[requested_user_group_ids][]", user_group.id, @user.requested_user_group_ids.include?(user_group.id) %>
            <%= user_group.name %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
