<h1>Edit <%= @user == @current_user ? 'Your' : 'User' %> Account Details</h1>

<% form_for @user, :url => @user == @current_user ? account_path : user_path(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<% if is_admin? %>
<p class="admin_links">
  <%= link_to "Back to Users List", users_path %> |
  <%= link_to "Manage User Groups", user_groups_path %>
</p>
<% end %>