<table>
  <% for field in %w( login first_name last_name email) %>
    <tr>
      <td><%= field.titleize %>:</td>
      <td><%= @user[field] %></td>
    </tr>
  <% end %>

  <% for field in (SiteSetting.read_setting('user fields') || []) %>
    <tr>
      <td><%= field.titleize %>:</td>
      <td><%= @user.user_defined_fields[field] %></td>
    </tr>
  <% end %>

  <% unless @user.user_groups.empty? %>
    <tr>
      <td>Groups:</td>
      <td><%= @user.user_groups.map(&:name).join(', ') %></td>
    </tr>
  <% end %>
</table>

<% if current_user == @user %>
  <p><%= link_to 'Edit your Contact Information', edit_account_path %></p>
<% end %>
