<table>
  <% for field in %w( login first_name last_name email) %>
    <tr>
      <td><%= field.titleize %>:</td>
      <td><%= @user[field] %></td>
    </tr>
  <% end %>

  <% for field in (SiteSetting.read_setting('user fields') || []) %>
    <tr>
      <td><%= field.titleize %>:</td>
      <td><%= @user.user_defined_fields[field] %></td>
    </tr>
  <% end %>
</table>

<% if current_user == @user %>
  <p><%= link_to 'Edit your Contact Information', edit_account_path %></p>
<% end %>

<% if current_user and current_user.is_admin? %>
  <p class="admin_links">
    <%= link_to 'Site Settings', site_settings_path %> | 
    <%= link_to 'List of Pages', content_pages_path %> |
    <%= link_to 'List of Categories', categories_path %>
  </p>
<% end %>