<%- unless details.one_day? %>
<%= textilize(details.location) %>
<%= textilize(details.description) %>
<%- else -%>
<div class="span-6">
<%= textilize(details.location) %>
<%= textilize(details.description) %>
</div>

<div class="span-6 last">
  <%= event_times(details) %>
</div>
<%- end -%>

<% unless details.file_attachments.empty? %>
<div class="span-12 last">
  <h3>Materials/Resources</h3>
  <%- @event = details -%>
  <%= render details.links.all %>
  <%= render :partial => 'file_attachments/file_attachment', :collection => details.file_attachments %>
</div>
<% end %>