<%= div_for_record(event) do -%>
  <h1><%= link_to_events({:no_wrapper => true}, {:link_text => "Events"}) %>: <%= event.name %> (<em><%= event.event_type %></em>)</h1>
  <p style="float: right;">
    <%= links_to_edit_and_delete_event(@event, {}, {:class => 'fake_button'}) %>
  </p>
  <%= render :partial => 'events/event_details', :object => event %>
<% end %>