<em>post a comment:</em>
<div class="comment_form">
<%= form_for(WikiComment.new(:wiki_page_id => @wiki_page.id, :looking_at_version => @wiki_page.version), 
      :as => :wiki_comment,
      :remote => true,
      :url => wiki_wiki_comments_path(@wiki) ) do |f|  %>
  <%= f.hidden_field :wiki_page_id  %>
  <%= f.hidden_field :looking_at_version %>
  <%= f.text_area :body, :rows => 2, :class => 'expandable', :style => 'width:92%; height: 70px;' %><br/>
  <%= submit_tag "post it" %>
<% end %>
</div>

<% for comment in @wiki_page.wiki_comments %>
  <p>
    <em><strong><%= comment.user.name %></strong> said <%= post_time comment.created_at %>:</em> &nbsp; 
    <%= textilize_without_paragraph comment.body %>
    <% if current_user and current_user == comment.user or current_user.is_admin? %>
       &nbsp; <%= link_to( 'X', wiki_wiki_comment_path(@wiki, comment),
                    :confirm => "Are you sure you want to permanently delete this comment?",
                    :method => :delete, :title => "click to delete", :class => "delete_x") %>
    <% end %>
  </p>
<% end %>
