<% opts = @wiki_page.new_record? ? { :url => wiki_wiki_pages_path(@wiki) } :
  { :url => wiki_wiki_page_path(@wiki, @wiki_page), :method => :put } %>
<%= form_for(@wiki_page, opts) do |f| %>
  <%= f.error_messages %>
  <p>
    <strong>Title:</strong>
    <%= f.text_field :title, :size => 50 %>
    <% if is_admin? %>
      <br/>
      <strong>Wiki:</strong>  <%= f.select :wiki_id, Wiki.find(:all).map { |wiki| [wiki.name, wiki.id] } %>
    <% end %>
  </p>

  <%= ckeditor_text_area(f) %>

  <p>
    Tags (comma-separated): <%= f.text_field :wiki_tags_string, :size => 50 %><br/>
    <em style="margin-left: 25px;">Common tags:</em>
    <%= @wiki_tags[0..20].map(&:name).join(', ') %>
  </p>

  <p>
    <%= ckeditor_confirm_exit_submit(f) %>
  </p>
<% end %>
