<% form_for(@wiki_page) do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Title</b>:
    <%= f.text_field :title, :size => 50 %>
  </p>

  <p>
    <% if @wiki_page.new_record? %>
      <em>Note: after creating this new wiki page, you will be able to edit the body</em>
    <% else %>
      <%= f.text_area :body, :rows => 10, :cols => 80, :style => 'width: 90%' %>
    <% end %>
  </p>
  
  <p>
    Tags (comma-separated): <%= f.text_field :wiki_tags_string, :size => 50 %>
  </p>

  <p>
    <%= f.submit "Save", :onclick => "needToConfirm = false;" %>
  </p>
<% end %>

<% unless @wiki_page.new_record? %>
<script type="text/javascript">
  //<![CDATA[
    CKEDITOR.replace( 'wiki_page[body]',
      {
        uiColor : '#819033',
        filebrowserUploadUrl : '<%= upload_handler_wiki_page_path(@wiki_page) %>'
      });
  //]]>
</script>
<% end %>