<div class="wiki_top_links">
  <form name="wiki_search" id="wiki_search" action="/wiki/search">
    <% if @wiki_page %>
      <%= link_to 'edit', wiki_page_edit_path(@wiki_page) %> &nbsp;
      <%= link_to 'delete', { :controller => '/wiki_pages', :action => :destroy, :id => @wiki_page },
            :confirm => "Are you really sure you want to delete this wiki page?", :method => :delete %> &nbsp;
    <% end %>

    <%= link_to 'new', wiki_page_new_path %> &nbsp;
    <%= link_to 'chatter', wiki_comments_path %> &nbsp;

    <input name="name" id="name" size="6" value="search" onclick="if ( $('#name')[0].value == 'search') $('#name')[0].value = '';"/>
    <input type="submit" value="Go"/>
  </form>
  <% if @wiki_page %>
    <em class="tiny_text">page last updated: <%= @wiki_page.updated_at.strftime "%m/%d/%y"  %></em>
    (<%= link_to 'history', wiki_page_history_path(:title => @wiki_page.url_title) %>)
  <% end %>
</div>