<h1><%= link_to @wiki.name, @wiki %>: Editing: <%= @wiki_page.title %></h1>

<%= wip_warning(@wiki_page) %>

<%= render :partial => 'form'  %>

<h3>Assets in this Wiki Page</h3>
<% if @assets.empty? %>
  <p><em>no assets found</em></p>
<% else %>
  <ul>
    <% for asset in @assets %>
      <li>
        <%= link_to asset, "/#{@rel_dir}/#{asset}" %> &nbsp;
        <%= link_to "X", delete_asset_wiki_wiki_page_path(@wiki, @wiki_page, :asset => asset),
              :confirm => "Really delete this file?", :method => :post,
              :style => 'color:#F00' %>
      </li>
    <% end %>
  </ul>
<% end %>

<br/>
<%= initialize_ckeditor('wiki_page[body]', {
  :filebrowserUploadUrl => upload_handler_wiki_wiki_page_path(@wiki, @wiki_page, {
    :authenticity_token => form_authenticity_token
  })
}) %>
<%= ckeditor_confirm_exit(un_edit_wiki_wiki_page_path(@wiki, @wiki_page)) %>
