<h1><%= link_to "Wiki", wiki_page_show_home_path %>: Editing: <%= @wiki_page.title %></h1>

<% if @wiki_page.editing_user and @wiki_page.editing_user != current_user %>
  <div class="flash_message error_message">
    <em>
      <strong>Warning:</strong>
      Someone else is already editing this page!
    </em>
    <br/>
    <%= @wiki_page.editing_user.fullname %> started editing this page
    <%= time_ago_in_words @wiki_page.started_editing_at %> ago.
  </div>
<% end %>

<%= render :partial => 'form'  %>


<h3>Assets in this Wiki Page</h3>
<% if @assets.empty? %>
  <p><em>no assets found</em></p>
<% else %>
  <ul>
    <% for asset in @assets %>
      <li>
        <%= link_to asset, "/#{@rel_dir}/#{asset}" %> &nbsp;
        <%= link_to "X", delete_asset_wiki_page_path(@wiki_page, :asset => asset),
              :confirm => "Really delete this file?", :method => :post,
              :style => 'color:#F00' %>
      </li>
    <% end %>
  </ul>
<% end %>

<br/>

<script type="text/javascript">
  var needToConfirm = true;

  window.onbeforeunload = confirmExit;
  function confirmExit() {
    if (needToConfirm) {
      return "You may have unsaved changes.";
    }
  }

  window.onunload = function() {
    if (needToConfirm) {
      $.post('<%= un_edit_wiki_page_path @wiki_page %>');
    }
  }
</script>