<div style="float:right">
  [<%= link_to 'back to current version',
        wiki_pages_show_by_title_path(:wiki_id => @wiki, :title => @wiki_page.url_title) %>]
</div>

<h1><%= link_to @wiki.name, wiki_path(@wiki) %>: <%= @wiki_page.title %></h1>

<% for wiki_page_version in @wiki_page_versions %>
  <div class="wiki_page_version" id="wiki_page_version_<%= wiki_page_version.version %>">
    <em class="tiny_text" style="float:right;">
      Edited by <%= wiki_page_version.modifying_user ? wiki_page_version.modifying_user.name : 'System' %> on
      <%= wiki_page_version.updated_at.strftime "%m/%d/%Y at %I:%M%p" %>
    </em>
    <h3 class="version_title"><%= wiki_page_version.title %>: Version <%= wiki_page_version.version %></h3>
    <div class="body_to_diff" style="display:none">
      <%= wiki_page_version.body_for_display %>
    </div>
  </div><br/>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag 'jsdiff' %>

<script type="text/javascript">
  var diffed;
  var prev_text;
  var Versionator = $.klass({
    initialize: function(prefix) {
      this.prefix = prefix;
      this.version = $.string(this.element[0].id).gsub(prefix + '_version_', '').str;
      this.body_text = $(this.element[0]).children('.body_to_diff')[0].innerHTML;
    },
    onclick: $.delegate({
    '.version_title': function(e) {
      $('.diff_text').remove();
      compare_to_el = $('#' + this.prefix + '_version_' + (this.version - 1));
      if(compare_to_el.length > 0) {
        prev_text = compare_to_el.children('.body_to_diff')[0].innerHTML;
        diffed = diffString(prev_text, this.body_text);
        diffed = $.string(diffed).gsub('&lt;','<').gsub('&gt;','>');
        diffdiv = $('<div class="diff_text">' + diffed.str + '</div>');
        diffdiv.appendTo(this.element);
      }

    }})
  })

  jQuery(function($) {
    $('.wiki_page_version').attach(Versionator, 'wiki_page');
  });

</script>

<% end %>