<div class="wiki_top_links">
  <form name="wiki_search" id="wiki_search">
  <%= link_to 'new', wiki_page_new_path %> &nbsp;
  <input name="name" id="name" size="6" value="search" onclick="if ( $('name').value == 'search') $('name').value = '';">
  </form>
  <div id="results" style="position:absolute; z-index: 9; background:#FFE; display:none; border: 1px solid #999; padding: 4px;"></div>
</div>

<%= observe_form "wiki_search", :url => { :action => "live_search" },
                  :frequency => 0.5, :update => "results", :success => "$('results').show()" %>


<% if @wiki_tag %>
  <h1>Pages Tagged: <%= @wiki_tag.name %></h1>
<% else %>
  <h1>Recently updated pages</h1>
<% end %>

<table style="width:100%">
  <tr>
    <td style="font-size: 12px; vertical-align:top">
      <p><%= will_paginate %></p>
      <%= render :partial => 'wiki_page_table'  %>
      <p><%= will_paginate %></p>
      <p>[<%= link_to "create new page", wiki_page_new_path %>]</p>
    </td>

    <td style="width:410px; vertical-align:top">
      <div id="flashcontent">It seems you don't have Flash installed...</div>
    </td>
  </tr>
</table>





<%= render :partial => 'tag_cloud_loader' %>


<script type="text/javascript">
  Event.observe(window, 'load', function() {
    Event.addBehavior({
      '#wiki_pages_table': SortableTable
    })
  })
</script>