<%= render :partial => "/wikis/top_links" %>

<h1><%= link_to "Wiki", wiki_wiki_page_show_home_path(@wiki) %>: <%= @wiki_page.title %></h1>

<br/>

<div id="wiki_right_side" style="float:right; width: 25%; margin-left: 15px;">
  <div id="message" class="tiny-text red"></div>
  <div id="comments" class="wiki_comments">
    <%= render :partial => 'comments' %>
  </div>
</div>

<div id="wiki_left_side" style="float:left; width: 70%;">
  <div class="wiki_page_body">
    <%= @wiki_page.body_for_display %>
  </div>

  <p>Tags: <%= @wiki_page.wiki_tags.map { |wt| link_to wt.name, wiki_wiki_page_tag_path(@wiki, :tag_name => wt.name) }.join(", ") %></p>
</div>

<div style="clear:both"></div>