<div class="wiki_top_links">
  <form id="wiki_search" action="/wiki/search">
    <% if @wiki_page %>
      <%= link_to 'edit', edit_wiki_wiki_page_path(@wiki, @wiki_page) %> &nbsp;
      <%= link_to 'delete', { :controller => '/wiki_pages', :action => :destroy, :id => @wiki_page },
            :confirm => "Are you really sure you want to delete this wiki page?", :method => :delete %> &nbsp;
    <% end %>

    <%= link_to 'new', new_wiki_wiki_page_path(@wiki) %> &nbsp;
    <%= link_to 'chatter', wiki_wiki_comments_path(@wiki) %> &nbsp;

    <input name="name" id="name" size="6" value="search"
           onclick="if ( $('#name')[0].value == 'search') $('#name')[0].value = '';"/>
    <input type="submit" value="Go"/>
  </form>
  <% if @wiki_page %>
    <em class="tiny_text">page last updated: <%= @wiki_page.updated_at.strftime "%m/%d/%y"  %></em>
    (<%= link_to 'history', wiki_wiki_page_history_path(@wiki, :title => @wiki_page.url_title) %>)
  <% end %>

  <% if @comments %>
    <span class="feed_links">
      <%= link_to image_tag('feed-icon.gif') + " all", wiki_wiki_comments_url(@wiki, :format => :atom),
            :title => 'Subscribe to feed for all activity' %>
      <%= link_to image_tag('feed-icon.gif') + " daily", daily_wiki_wiki_comments_url(@wiki, :format => :atom),
            :title => 'Subscribe to feed for daily digest' %>
      <%= link_to image_tag('feed-icon.gif') + " weekly", weekly_wiki_wiki_comments_url(@wiki, :format => :atom),
            :title => 'Subscribe to feed for weekly digest' %>
    </span>
  <% end %>
</div>