<h1>Wikis</h1>

<p><em>Click the name of a wiki to see a list of pages in it.</em></p>

<table>
<% @wikis.each do |wiki| %>
  <%-
    # todo stop skipping elements when Wiki.accessible_by is implemented
  -%>
  <% next unless current_user && can?(:read, wiki) %>
  <tr>
    <td>
      <strong><%= link_to_wiki(wiki) %></strong>
      <% unless wiki.description.blank? %>
        &nbsp;
        <em class="wiki_desc_link_<%= wiki.id %>">(<%= link_to "description",
                  wikis_path(:toggle => "wiki_desc_#{wiki.id}", :hide => "wiki_desc_link_#{wiki.id}"), :class => "show_hide_link" %>)</em> &nbsp;
        <span class="wiki_desc_<%= wiki.id %>" style="display:none;"><%= textilize_without_paragraph wiki.description %></span>
      <% end %>
    </td>
      <td>
        <%= link_to_edit_wiki(wiki, :html => true) %>
        <%= link_to_destroy_wiki(wiki, :html => true) %>
      </td>
  </tr>
<% end %>
</table>


<p>
  <%= link_to "change wiki list order", sort_wikis_path %> | 
  <%= link_to_new_wiki %>
</p>
