<h1>Wikis</h1>

<p><em>Click the name of a wiki to see a list of pages in it.</em></p>

<table>
<% @wikis.each do |wiki| %>
  <tr>
    <td>
      <strong><%= link_to wiki.name, wiki %>: </strong>
      <%= textilize_without_paragraph wiki.description %>
    </td>
    <% if is_admin? %>
      <td>
        <%= link_to 'edit', edit_wiki_path(wiki) %> |
        <%= link_to 'delete', wiki,
                :confirm => "Are you sure you want to permanently delete this wiki (#{wiki.name}) " +
                  "and it's #{pluralize wiki.wiki_pages.count, 'page'}?",
                :method => :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wiki', new_wiki_path %>