<%= render :partial => "top_links" %>

<h1><%= link_to "Wikis", wikis_path %>: <%= @wiki.name %></h1>

<%= textilize @wiki.description %>

<p class="small_text">
  <%= link_to "who has access to this wiki?", wiki_path(@wiki, :toggle => "user_access_list"), :class => 'show_hide_link' %>
</p>

<p class="small_text user_access_list" style="background: #FFD; padding: 2px 6px; <%= (params[:toggle] and params[:toggle]=='user_access_list') ? '' : 'display:none;' %>">
  <%= @users_with_access.map(&:full_name).join(', ') %>
</p>

<% if @wiki_tag %>
  <h2>Pages Tagged: <%= @wiki_tag.name %></h2>
<% else %>
  <h2>Recently updated pages</h2>
<% end %>

<table style="width:100%">
  <tr>
    <td style="font-size: 12px; vertical-align:top">
      <p><%= will_paginate @wiki_pages %></p>
      <%= render :partial => '/wiki_pages/wiki_page_table'  %>
      <p><%= will_paginate @wiki_pages %></p>
      <p>[<%= link_to "create new page", new_wiki_wiki_page_path(@wiki) %>]</p>
    </td>

    <td style="vertical-align:top">
      <div class="feed_links" style="text-align:center;">
        Feeds:
        <%= link_to image_tag('feed-icon.gif') + " all", wiki_wiki_comments_url(@wiki, :format => :atom),
              :title => 'Subscribe to feed for all activity' %>
        <%= link_to image_tag('feed-icon.gif') + " daily", daily_wiki_wiki_comments_url(@wiki, :format => :atom),
              :title => 'Subscribe to feed for daily digest' %>
        <%= link_to image_tag('feed-icon.gif') + " weekly", weekly_wiki_wiki_comments_url(@wiki, :format => :atom),
              :title => 'Subscribe to feed for weekly digest' %>
      </div>
      <%= render :partial => 'tag_cloud' %>
    </td>
  </tr>
</table>

<script type="text/javascript">
  $(document).ready(function()
    {
      $("#wiki_pages_table").tablesorter( { widgets: ['zebra'] });
    }
  );
</script>

  
<% if is_admin? %>
  <p>
    <%= link_to 'Edit wiki details', edit_wiki_path(@wiki) %>
  </p>
<% end %>