<p>
  <b>Name:</b>
  <%=h @wiki.name %>
</p>


<%= render :partial => "top_links" %>

<% if @wiki_tag %>
  <h1>Pages Tagged: <%= @wiki_tag.name %></h1>
<% else %>
  <h1>Recently updated pages</h1>
<% end %>

<table style="width:100%">
  <tr>
    <td style="font-size: 12px; vertical-align:top">
      <p><%= will_paginate @wiki_pages %></p>
      <%= render :partial => '/wiki_pages/wiki_page_table'  %>
      <p><%= will_paginate @wiki_pages %></p>
      <p>[<%= link_to "create new page", new_wiki_wiki_page_path(@wiki) %>]</p>
    </td>

    <td style="vertical-align:top">
      <%= render :partial => 'tag_cloud' %>
    </td>
  </tr>
</table>

<script type="text/javascript">
  $(document).ready(function()
    {
      $("#wiki_pages_table").tablesorter( { widgets: ['zebra'] });
    }
  );
</script>

  
<% if is_admin? %>
  <p>
    <%= link_to 'Edit wiki details', edit_wiki_path(@wiki) %>
  </p>
<% end %>