<%= form_for(@content_page) do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Name</b>:
    <%= f.text_field :name, :size => 50 %><br/>
    <% unless @content_page.special.blank? %>
      <em>This page is a special page: <%= @content_page.special %></em>
    <% end %>
  </p>

  <% unless @content_page.new_record? %>
    <div class="small_text" style="border: 1px solid #666; background: #FFD; padding: 4px 8px 0; margin-bottom: 12px;">
      <strong>Functions:</strong>
      <ul>
        <li>[[ListCategories]] &nbsp; &nbsp; <em>lists all categories</em></li>
        <li>[[ListPagesInCategory Some Kind of Category]] &nbsp; &nbsp;
          <em>list all pages in the category called "Some Kind of Category"</em></li>
        <li>[[LinkPage Page Name]] &nbsp; &nbsp; <em>links directly to the page specified</em></li>
        <li>[[LinkCategory Some Kind of Category]] &nbsp; &nbsp; <em>links to the category index page</em></li>
        <li>[[TreeCategories]] &nbsp; &nbsp; <em>create a tree-like list of all categories and their pages</em></li>
        <li>[[TreeCategories Cat A, Cat B, Cat C]] &nbsp; &nbsp; <em>create a tree-like list of categories named "Cat A", "Cat B", "Cat C", and their pages</em></li>
        <li>[[SearchBox]] &nbsp; &nbsp; <em>displays a search form</em></li>
        <li>[[Calendar]] &nbsp; &nbsp; <em>displays a full-sized calendar</em></li>
        <li>[[MiniCalendar]] &nbsp; &nbsp; <em>displays a mini-sized calendar</em></li>
      </ul>
      <div style="padding-left: 25px;">
        Options for List functions <em>(add to end before closing brackets)</em>:
        WithHome, SortByDate, SortByDateReverse
        SortByAlpha, SortByAlphaReverse, Limit=n
      </div>
    </div>
  <% end %>

  <p>
    <% if @content_page.new_record? %>
      <em>Note: after creating this new page, you will be able to edit the body</em>
    <% else %>
      <%= f.text_area :body, :rows => 10, :cols => 80, :style => 'width: 90%' %>
      <br/>
      <% if @content_page.auxiliary_body.blank? -%>
        [<%= link_to 'edit auxiliary content (ex. side bar)', { :toggle => 'aux_body' }, :class => 'show_hide_link' %>]
      <% end -%>
      <div style="<%= "display:none" if @content_page.auxiliary_body.blank? %>" class="aux_body">
        <%= f.text_area :auxiliary_body, :rows => 10, :cols => 80, :style => 'width: 90%' %>
      </div>
    <% end -%>
  </p>

  <% unless @content_page.special =~ /Menu/ %>
    <p>
      Layout (optional, current default layout is <em><%= @theme_layout %></em>):
      <%= f.select :layout, theme_layouts_list, :include_blank => true %>
    </p>
    <p>
      Categories: (check as many as you want)<br/>
      <% for category in Category.find(:all) %>
        <%= check_box_tag "content_page[category_ids][]", category.id,
              (@content_page.categories.include?(category) or
                (params[:category_id] and params[:category_id].to_i == category.id) ) %>
        <%= category.name %><br/>
      <% end %>
      New category: <%= text_field_tag "new_category" %>
    </p>

    <% unless @content_page.new_record? %>
      <p>
        Publish Date (optional):
        <%= text_field_tag "content_page[publish_on]",
              @content_page.publish_on ? @content_page.publish_on.strftime("%m/%d/%Y") : '' %>
      </p>
    <% end %>

    <p>
      <% unless @content_page.new_record? %>
        <%= f.select :is_preview_only, options_for_select( [ ["Draft/Preview", 1], ["Final/Publish", 0] ],
                @content_page.is_preview_only? ? 1 : 0 ) %> &nbsp;
      <% end %>
      <%= f.submit "Save", :onclick => "needToConfirm = false;" %>
    </p>
  <% else %>
    <p>
      <%= f.submit "Save", :onclick => "needToConfirm = false;" %>
    </p>
  <% end %>
<% end %>

<% unless @content_page.special =~ /Menu/ or @content_page.new_record? %>
  <%= initialize_ckeditor('content_page[body]', {
    :filebrowserUploadUrl => upload_handler_content_page_path(@content_page, {
      :authenticity_token => form_authenticity_token
    }), :toolbar => 'Mid', :height => '500px'
  }) %>
  <%= initialize_ckeditor('content_page[auxiliary_body]', {
    :filebrowserUploadUrl => upload_handler_content_page_path(@content_page, {
      :authenticity_token => form_authenticity_token
    }), :toolbar => 'Mid', :height => '250px'
  }) %>
  <script type="text/javascript">
    //<![CDATA[
        $('#content_page_publish_on').datepicker();
    //]]>
  </script>
  <%# TODO: deal with uploads when page is not yet saved %>
<% end %>
