<% form_for(@content_page) do |f| %>
  <%= f.error_messages %>
  <p>
    <b>Name</b>:
    <%= f.text_field :name, :size => 50 %><br/>
    <% unless @content_page.special.blank? %>
      <em>This page is a special page: <%= @content_page.special %></em>
    <% end %>
  </p>

  <div class="small_text" style="border: 1px solid #666; background: #FFD; padding: 4px 8px 0; margin-bottom: 12px;">
    <strong>Functions:</strong>
    <ul>
      <li>[[ListCategories]] &nbsp; &nbsp; <em>lists all categories</em></li>
      <li>[[ListPagesInCategory Some Kind of Category]] &nbsp; &nbsp;
        <em>list all pages in the category called "Some Kind of Category"</em></li>
      <li>[[LinkPage Page Name]] &nbsp; &nbsp; <em>links directly to the page specified</em></li>
      <li>[[LinkCategory Some Kind of Category]] &nbsp; &nbsp; <em>links to the category index page</em></li>
      <li>[[SearchBox]] &nbsp; &nbsp; <em>displays a search form</em></li>
    </ul>
  </div>

  <p>
    <% if @content_page.new_record? %>
      <em>Note: after creating this new page, you will be able to edit the body</em>
    <% else %>
      <%= f.text_area :body, :rows => 10, :cols => 80, :style => 'width: 90%' %>
    <% end %>
  </p>

  <% unless @content_page.special =~ /Menu/ %>
    <p>
      Categories: (check as many as you want)<br/>
      <% for category in Category.find(:all) %>
        <%= check_box_tag "content_page[category_ids][]", category.id, @content_page.categories.include?(category)  %>
        <%= category.name %><br/>
      <% end %>
      New category: <%= text_field_tag "new_category" %>
    </p>

    <p>
      <%= f.select :is_preview_only, options_for_select( [ ["Draft/Preview", 1], ["Final/Publish", 0] ],
              @content_page.is_preview_only? ? 1 : 0 ) %> &nbsp;
      <%= f.submit "Save", :onclick => "needToConfirm = false;" %>
    </p>
  <% end %>
<% end %>

<% unless @content_page.special =~ /Menu/ or @content_page.new_record? %>
<script type="text/javascript">
  //<![CDATA[
    CKEDITOR.replace( 'content_page[body]',
      {
        uiColor : '#819033',
        filebrowserUploadUrl : '<%= upload_handler_content_page_path(@content_page) %>',
        toolbar : 'Mid'
      });
  //]]>
</script>
  <%# TODO: filebrowserBrowseUrl : '/something' %>
  <%# TODO: deal with uploads when page is not yet saved %>
<% end %>