<h1>Editing page</h1>

<% if @content_page.editing_user and @content_page.editing_user != current_user %>
  <div class="flash_message error_message">
    <em>
      <strong>Warning:</strong>
      Someone else is already editing this document!
    </em>
    <br/>
    <%= @content_page.editing_user.fullname %> started editing this page
    <%= time_ago_in_words @content_page.started_editing_at %> ago.
  </div>
<% end %>

<%= render :partial => 'form'  %>

<br/>

<h3>Assets in this Page</h3>
<% if @assets.empty? %>
  <p><em>no assets found</em></p>
<% else %>
  <ul>
    <% for asset in @assets %>
      <li>
        <%= link_to asset, "/#{@rel_dir}/#{asset}" %> &nbsp; 
        <%= link_to "X", delete_asset_content_page_path(@content_page, :asset => asset),
          :confirm => "Really delete this file?", :method => :post, 
          :style => 'color:#F00' %>
      </li>
    <% end %>
  </ul>
<% end %>

<br/>

<p class="admin_links">
  <%= link_to 'Create a New Page', new_content_page_path %> |
  <%= link_to 'List of Pages', content_pages_path %> |
  <%= link_to 'List of Categories', categories_path %>
</p>


<script type="text/javascript">
  var needToConfirm = true;

  window.onbeforeunload = confirmExit;
  function confirmExit() {
    if (needToConfirm) {
      return "You may have unsaved changes.";
    }
  }
</script>