<h1>Content Pages</h1>

<% if @search_phrase %>
  <h4>Search query: <%= @search_phrase %></h4>
<% end %>

<% if is_admin? and ContentPage.count > 10 %>
<p class="admin_links">
  <%= link_to 'Create a New Page', new_content_page_path %> |
  <%= link_to 'List of Categories', categories_path %>
</p>
<% end %>

<% if @categories.size > 0 %>
<p>
  <strong><em>Category matches:</em></strong> 
  <% @categories.each do |category| %>
    <%= link_to category.name, category %>
  <% end %>
</p>
<% end %>

<table cellspacing="2px" cellpadding="0" class="nice_table tablesorter">
  <thead>
    <tr>
      <th>Page</th>
      <th>Body (excerpt)</th>
      <th style="white-space:nowrap;">Pub. Date &nbsp; &nbsp; </th>
      <th>Categories</th>
      <% if is_admin? %><th></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @content_pages.each do |content_page| %>
      <tr>
        <td style="width:20%;">
          <%= link_to truncate(content_page.name, :length => 75), content_page %>
          <% if content_page.is_preview_only? %>
            &nbsp; <em>(draft)</em>
          <% end %>
        </td>
        <td><%= @search_phrase ? highlight(excerpt(strip_tags(content_page.body), @search_phrase, :radius => 75) || '', @search_phrase) :
                    truncate(strip_tags(content_page.body), :length => 150) %></td>
        <td><%= content_page.publish_on ? content_page.publish_on.strftime('%m/%d/%Y') : '' %></td>
        <td><%=raw highlight(content_page.categories.map { |cat| link_to cat.name, cat }.join(', '), @search_phrase) %></td>
        <% if is_admin? %>
          <td>
            <%= link_to '<span class="ui-icon ui-icon-document"/>'.html_safe, edit_content_page_path(content_page),
                    :title => "click to edit" %>
            <%= link_to '<span class="ui-icon ui-icon-closethick"/>'.html_safe, content_page,
                    :confirm => "Are you sure you want to permanently delete this page (#{content_page.name})?",
                    :method => :delete, :title => "click to delete" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if is_admin? %>
<p class="admin_links">
  <%= link_to 'Create a New Page', new_content_page_path %> |
  <%= link_to 'List of Categories', categories_path %>
</p>
<% end %>


<script type="text/javascript">
$(document).ready(function()
  {
    $(".nice_table").tablesorter( { widgets: ['zebra'], headers: { 1:{sorter: false}, 4:{sorter: false}} });
  }
);
</script>
