<% if is_admin? and @content_page.body_for_display.size > 1500 %>
  <div style="float:right; text-align:right;">
    <p class="admin_links">
      <%= link_to 'Edit this Page', edit_content_page_path(@content_page) %> |
      <%= link_to 'Create a New Page', new_content_page_path %> |
      <%= link_to 'List of Pages', content_pages_path %> |
      <%= link_to 'List of Categories', categories_path %>
    </p>
  </div>
<% end %>

<% cache do %>
  <h1><%=h @content_page.name %></h1>

  <%= @content_page.body_for_display %>

  <% unless @content_page.categories.empty? %>
    <p class="category_links">
      Categories: <%=raw @content_page.categories.map { |cat| link_to(cat.name, cat) }.join(', ') %>
    </p>
  <% end %>
<% end %>

<% if is_admin? %>
  <% unless @content_page.publish_on.nil? %>
    <div style="float:right; text-align:right;">
      <% if @content_page.publish_on <= Date.today %>
        <em>Publish on: <%= @content_page.publish_on.strftime("%m/%d/%Y") %></em>
      <% else %>
        <em class="highlight">To be published on: <%= @content_page.publish_on.strftime("%m/%d/%Y") %></em>
      <% end %>
    </div>
  <% end %>
  <p class="admin_links">
    <%= link_to 'Edit this Page', edit_content_page_path(@content_page) %> |
    <%= link_to 'Create a New Page', new_content_page_path %> |
    <%= link_to 'List of Pages', content_pages_path %> |
    <%= link_to 'List of Categories', categories_path %>
  </p>
<% end %>