<h2>Edit Category</h2>

<%= form_for(@category) do |f| %>
  <%= f.error_messages %>
  <p>
    Category: <%= f.text_field :name %><br/>
    Parent: <%= f.select :parent_id, @categories.map {|c| [c.name, c.id]}, :include_blank => true %><br/>
    <%= f.submit 'save category' %>
  </p>
<% end %>
