<h1>Listing categories</h1>

<%= render :partial => 'list', :locals => { :categories => @root_categories } %>

<br />

<h2>Create a new Category</h2>

<%= form_for(@category) do |f| %>
  <%= f.error_messages %>
  <p>
    Category: <%= f.text_field :name %> &nbsp;
    Parent: <%= f.select :parent_id, @categories.map {|c| [c.name, c.id]}, :include_blank => true %>
    <%= f.submit 'add category' %>
  </p>
<% end %>

<p class="admin_links">
  <%= link_to 'List of Pages', content_pages_path %>
</p>


<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function(){
  $('.category_list').sortable({
    update: function(event, ui){
      var me = $(this);
      $.ajax({ 
        type: 'post', 
        data: me.sortable('serialize'), 
        dataType: 'json', 
        complete: function(request) { me.effect('highlight'); },
        url: '/categories/sort'
      });
    },
    placeholder: 'ui-state-highlight'
  });
});
</script>
<% end %>
