<h1>Listing categories</h1>

<%= render :partial => 'list', :locals => { :categories => @root_categories } %>

<br />

<h2>Create a new Category</h2>

<%= form_for(@category) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>
    <%= f.select :parent_id, @categories.map {|c| [c.name, c.id]} %>
    <%= f.submit 'add category' %>
  </p>
<% end %>

<p class="admin_links">
  <%= link_to 'List of Pages', content_pages_path %>
</p>
