<h1>Pages in Category: <%= @category.name %></h1>

<table cellspacing="2px" cellpadding="0" class="nice_table tablesorter">
  <thead>
    <tr>
      <th>Page</th>
      <th>Body (excerpt)</th>
      <th style="white-space:nowrap;">Pub. Date &nbsp; &nbsp; </th>
      <% if is_admin? %><th></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @category.content_pages.each do |content_page| %>
      <tr>
        <td style="width:20%;"><%= link_to truncate(content_page.name, :length => 75), content_page %></td>
        <td><%= truncate(strip_tags(content_page.body), :length => 150) %></td>
        <td><%= content_page.publish_on ? content_page.publish_on.strftime('%m/%d/%Y') : '' %></td>
        <% if is_admin? %>
          <td>
            <%= link_to '<span class="ui-icon ui-icon-document"/>'.html_safe, edit_content_page_path(content_page),
                    :title => "click to edit" %>
            <%= link_to '<span class="ui-icon ui-icon-closethick"/>'.html_safe, content_page,
                    :confirm => "Are you sure you want to permanently delete this page (#{content_page.name})?",
                    :method => :delete, :title => "click to delete" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if is_admin? %>
  <p class="admin_links">
    <%= link_to 'List of Pages', content_pages_path %> |
    <%= link_to 'List of Categories', categories_path %> |
    <%= link_to "Create a New Page in <em>#{@category.name}</em>".html_safe, new_content_page_path(:category_id => @category.id) %>
  </p>
<% end %>

<script type="text/javascript">
$(document).ready(function()
  {
    $(".nice_table").tablesorter( { widgets: ['zebra'], headers: { 1:{sorter: false}, 3:{sorter: false}} });
  }
);
</script>

