<h1><%= @category.name %></h1>

<ul>
<% @category.content_pages.each do |content_page| %>
  <% if content_page.is_preview_only? %>
    <% if current_user and current_user.is_admin? %>
      <li>
        <%= link_to content_page.name, content_page %> <em>(preview/draft)</em><br/>
        <em><%= truncate strip_tags(content_page.body), :length => 100 %></em>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to content_page.name, content_page %><br/>
      <em><%= truncate strip_tags(content_page.body), :length => 100 %></em>
    </li>
  <% end %>
<% end %>
</ul>

<% if current_user and current_user.is_admin? %>
  <p class="admin_links">
    <%= link_to 'List of Pages', content_pages_path %> |
    <%= link_to 'List of Categories', categories_path %>
  </p>
<% end %>