<% if current_user -%>
  <div id="message_box">
    <% opts = message_post.new_record? ? { :url => forum_message_posts_path(@forum) } : { :url => forum_message_post_path(@forum, message_post), :method => :put } %>
    <% form_for message_post, opts do |f| %>
      <%= f.error_messages %>
      <%= f.hidden_field(:forum_id) %>
      <%= f.hidden_field(:thread_id) %>
      <p>Subject: <%= f.text_field :subject %></p>
      <p><%= f.text_area :body, :cols => 60, :rows => 10 %></p>
      <p><%= submit_tag "Post it!" %></p>
    <% end %>
  </div>
<% else -%>
  <p><em>If you were <%= link_to "logged in", login_path %> you could post.</em></p>
<% end -%>

<script type="text/javascript">
  //<![CDATA[

    CKEDITOR.replace( 'message_post[body]',
      {
        uiColor : '#819033'
        <%# filebrowserUploadUrl : '<%= upload_handler_forum_message_post_path(@forum, @message_post) percentsign>' %>
      });

  //]]>
</script>


<div style="clear:both"></div>