<tr>
  <td class="leftside">
    <div style="float:left; padding: 2px 4px;">
      <%= gravatar_for message.user, :size => 50 %>
    </div>
    posted <%= post_time message.created_at  %> by
    <strong><%#= link_to message.user.name, '#TODO_link_to_users_profile'  %><%= message.user.full_name %></strong>
  </td>
  <td><strong><%= link_to message.subject, forum_message_post_path(@forum, message) %>:</strong>
    <span class="gray"><%=h truncate( strip_tags(message.body), :length => 200 ) %></span>
  </td>
  <td class="message_last_reply">
    Last Reply:
      <% if message.most_recent_reply %>
        <%= link_to message.most_recent_reply.subject, forum_message_post_path(@forum, message),
              :page => MessagePost.last_page_number_for(:thread_id => message),
              :anchor => "bottom" %> <br/>
        <em><%= message.most_recent_reply.user.name %></em>
        <em><%= post_time message.most_recent_reply.created_at %></em>
      <% else -%>
        <em>no replies</em>
      <% end -%>
  </td>
</tr>
