<tr>
  <td class="leftside">
    posted <%= post_time message.created_at  %> by
    <strong><%= link_to message.user.name, '#TODO_link_to_users_profile'  %></strong>
    <div style="padding: 2px 4px;">
      <%= gravatar_for message.user, :size => 80 %>
    </div>
  </td>
  <td>
    <div style="float:left"><a name="<%= message.id %>" href="#<%= message.id %>"><strong><%= message.subject %></strong></a></div>
    <% if current_user == message.user -%>
      <div style="float:right">[<%= link_to "edit", :action => :edit, :id => message %>]</div>
    <% end -%>
    <div style="clear:both; padding-top:3px;"><%= message.body %></div>
    <% if message.updated_at > message.created_at -%>
      <div><em>Last Edit: <%= post_time message.updated_at %></em></div>
    <% end -%>
  </td>
</tr>
