<h1>
  <%= link_to "Forums", forums_path %>:
  <% if @forum %>
    <%= link_to @forum.title, @forum %>:
  <% end -%>
</h1>

<% if @message_post %>
  <h2><%= @message_post.subject %></h2>
<% end %>

<table class="messages" style="margin-bottom:10px;">
  <%= render :partial => "whole_message", :locals => { :message => @message_post } %>
</table>

<div style="text-align:center;"><%= will_paginate @child_posts %></div>

<table class="messages">
  <% for message_post in @child_posts -%>
    <%= render :partial => "whole_message", :locals => { :message => message_post } %>
  <% end -%>
</table>

<a name="bottom"></a>

<div style="text-align:center;"><%= will_paginate @child_posts %></div>

<br/>

<h3>Reply to this thread:</h3>
<%= render :partial => "message_form", 
      :locals => { :message_post => MessagePost.new(:thread => @message_post, :subject => "RE: #{@message_post.subject}") } %>


