<h1>
  <%= link_to "Forums", forums_path %>:
  <% if @forum %>
    <%= link_to @forum.title, @forum %>:
  <% end -%>
  <%= @message_post.subject if @message_post %>
  
</h1>

<p class="small_text" style="text-align: right;">
  <%= link_to_rss feed_forum_message_post_url(@forum, @message_post, current_user.single_access_token, :atom) %>
</p>

<table class="messages" style="margin-bottom:10px;">
  <%= render :partial => "whole_message", :locals => { :message => @message_post } %>
</table>

<div style="text-align:center;"><%= will_paginate @child_posts %></div>

<table class="messages">
  <% for message_post in @child_posts -%>
    <%= render :partial => "whole_message", :locals => { :message => message_post } %>
  <% end -%>
</table>

<a name="bottom"></a>

<div style="text-align:center;"><%= will_paginate @child_posts %></div>

<br/>

<h3>Reply to this thread:</h3>
<%= render :partial => "message_form", 
      :locals => { :message_post => MessagePost.new(:thread => @message_post, :subject => "RE: #{@message_post.subject}") } %>


<p class="small_text">
  Go to <a href="http://en.gravatar.com/">gravatar.com</a> to upload picture for your signetwork account. By doing so your photo will appear next to your discussion posts.
</p>

