<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= csrf_meta_tag %>
    <link rel="icon" type="image/png" href="/images/favorite.png"/>
    <title><%= [site_title, page_title].reject(&:blank?).join(' - ') %></title>
   
    <% if @css_screen_override -%>
      <link rel="stylesheet" href="<%= url_for(:controller => '/themes', :action => :css,
        :name => 'screen_override', :format => 'css') %>?<%= @css_screen_override_timestamp %>" type="text/css" media="screen"/>
    <% else -%>
    <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
    <% end -%>
    <%= stylesheet_link_tag 'fullcalendar_changes', :media => 'screen, projection' %>
    <%= stylesheet_link_tag "plupload/screen", :media => "screen, projection" %>
    
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'ie', :media => 'screen, projection' %>
    <![endif]-->
    
    <%= stylesheet_link_tag 'application', 'text_and_colors', 'main_elements',
        'error_messages', 'forums_wikis', 'formtastic', 'formtastic_changes' %>

    <% if @css_override %>
      <link rel="stylesheet" href="<%= url_for(:controller => '/themes', :action => :css,
        :name => 'override', :format => 'css') %>?<%= @css_override_timestamp %>" type="text/css" media="screen"/>
    <% else %>
      <%= stylesheet_link_tag "colors/#{@theme_colors}.css" %>
      <%= stylesheet_link_tag "skins/#{@theme_skin}.css" %>
    <% end %>
      
    <%= javascript_include_tag javascripts %>
    
    <%= stylesheet_link_tag "/tablesorter/blue/style", "smoothness/jquery-ui-1.7.2.custom.css" %>
  </head>
  <body>
    <% if is_admin? -%>
      <%= render :partial => "/layouts/admin_bar" %>
    <% end -%>
    <%= render :file => (@special_layout_file || @layout_file) %>


    <%= yield :javascript %>
  </body>
</html>
